[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "*"
pytest = "*"
requests = "*"


[packages]
boto3 = "*"
urllib3 = "*"
uuid = "*"
moviepy = "*"

[requires]
python_version = "3.7"
